@use '../utils/variable' as *;
@use '../utils/mixin' as *;
@use '../utils/function' as *;

.footer {
  background-color: $charcoal-gray;

  &__link {
    // border-bottom: 1px solid $dark-gray;
    position: relative;
    width: $main-layout;
    margin: 0 auto;

    &-sns {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      padding: $spacing-20 0;
    }

    &-sns-icon {
      display:inline-block;
      width: rem(30px);
      height: rem(30px);
      margin-right: $spacing-10;
    }

    &-sns-icon:nth-child(1) {
      background: url(/images/footer/footer-sns-icon1.png) no-repeat;
    }
    &-sns-icon:nth-child(2) {
      background: url(/images/footer/footer-sns-icon2.png) no-repeat;
    }
    &-sns-icon:nth-child(3) {
      background: url(/images/footer/footer-sns-icon3.png) no-repeat;
    }
    &-sns-icon:nth-child(4) {
      background: url(/images/footer/footer-sns-icon4.png) no-repeat;
    }
    &-sns-icon:nth-child(5) {
      background: url(/images/footer/footer-sns-icon5.png) no-repeat;
    }

    &-site {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: $spacing-10;
    }

    &-family-site {
      padding: $spacing-15 $spacing-20 $spacing-15 $spacing-40;
      background-color: transparent;
      border: 1px solid $dark-gray;
      color: $white;
      font-size: $font-size-17;
      font-weight: $font-weight-600;
    }

    &-family-site::after {
      content: "";
      display: inline-block;
      width: rem(21px);
      height: rem(11px);
      margin-left: $spacing-10;
      background: url(/images/footer/footer-arrow-icon.png) no-repeat center/50%;
    }

    &-family-site-menu {
      
    }

    &-family-site-list {

    }

    &-family-site-content {
    }
  }
}
