@use '../utils/variable' as *;
@use '../utils/mixin' as *;
@use '../utils/function' as *;

.header {
  @include desktop {
    width: $main-layout;
    margin: 0 auto;
  }
  @include tablet-lg {
      width: 100%;
      margin: 0 auto;
  }
  padding: $spacing-25 0;
  position: relative;
  height: rem(100px);
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__language {
  @include tablet-lg {
    right: $spacing-10;
  }
  position: absolute;
  top: $spacing-25;
  right: 0;
  font-size: $font-size-15;
  font-weight: $font-weight-600;
  letter-spacing: rem(-1px);
  text-transform: capitalize;
  padding: $spacing-15;
  white-space: nowrap;

  i {
    text-indent: $spacing-5;
  }

  &-contents {
    display: none;
    background-color: #fff;
    border: rem(1px) solid #aaa;
    border-radius: rem(5px);
    padding: $spacing-10;
    margin-top: $spacing-5;
    text-align: center;
  }

  &:hover &-contents {
    display: block;
  }
}