@use '../utils/mixin' as *;
@use '../utils/function' as *;

.header {
  padding: rem(25px) 0;
  position: relative;
  height: rem(100px);
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__language {
  position: absolute;
  top: rem(25px);
  right: 0;
  font-size: rem(15px);
  font-weight: 600;
  letter-spacing: rem(-1px);
  text-transform: capitalize;
  padding: rem(15px);
  white-space: nowrap;

  i {
    text-indent: rem(5px);
  }

  &-contents {
    display: none;
    background-color: #fff;
    border: rem(1px) solid #aaa;
    border-radius: rem(5px);
    padding: rem(10px);
    margin-top: rem(5px);
    text-align: center;
  }

  &:hover &-contents {
    display: block;
  }
}

@include desktop {
  .header {
    padding: rem(25px) 0;
    width: rem(1300px);
    margin: 0 auto;
  }
}

@include tablet-lg {
  .header {
    width: 100%;
    margin: 0 auto;
  }

  .header__language {
    right: rem(10px);
  }
}




