.navigation {
  background-color: aquamarine;
  border-top: 1px solid #aaa;

  &__menu {
    background-color: green;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 8rem;
  }

  &__menu:first-child {
    
  }

  &__menu a {

  }
}