/* layout */
// $layout-desktop: 81.25rem;
// $layout-tablet: 62.5rem;

/* font size */
$secondary-font-size: 1.9rem;

/* font weight */
$secondary-font-weight: 600;

/* color */
$primary-color: #2a629d;

$white: #fff;
$gray: #aaa;
$dark-gray: #808080;